<div class=registration>
<h2>会員情報入力</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <span> 必須 </span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

   <div class="field">
    <%= f.label :ニックネーム %>
    <span> 必須 </span><br />
    <%= f.text_field :nickname, autocomplete: "nickname"%>
  </div>

  <div class="registration_name">

    <div class="registration_name_firstbox">
      <div class="field">
        <%= f.label :名字 %>
        <span> 必須 </span><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
      </div>

      <div class="field">
        <%= f.label :名 %>
        <span> 必須 </span><br />
        <%= f.text_field :first_name, autocomplete: "given-name" %>
      </div>
    </div>

    <div class="registration_name_firstbox">  
      <div class="field">
        <%= f.label :名字ふりがな %>
        <span> 必須 </span><br />
        <%= f.text_field :last_name_read%>
      </div>

      <div class="field">
        <%= f.label :名ふりがな %>
        <span> 必須 </span><br />
        <%= f.text_field :first_name_read %>
      </div>
    <div>

  </div>
  </div>
  </div>

<div class="field">
    <%= f.label :性別 %>
    <span> 必須 </span><br />
    <%= f.select :gender,[['男性'], ['女性']], { include_blank: '選択してください' }, { id: "quality_id" } %>
  </div>

<div class="field">
  <%= f.label :誕生日 %>
  <span> 必須 </span><br />
  <%= f.date_field :birthday, autocomplete: "bday" %>
</div>

  <div class="field">
    <%= f.label :パスワード, class:"password_registration" %>
    <% if @minimum_password_length %>
    <em>(7文字以上)</em>
    <% end %>
    <span> 必須 </span><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認用 %>
    <span> 必須 </span><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"submitbtn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>