.registration
  %h2 会員情報入力
  = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
    = devise_error_messages!
    .field
      = f.label :郵便番号
      %span 必須
      %br/
      = f.integer :postal_code, autofocus: true, autocomplete: "postal-code"
    .field
      = f.label :都道府県
      %span 必須
      %br/
      =f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択してください' })
    
    .field
      = f.label :市区町村
      %span 必須
      %br/
      = f.text_field :city, autofocus: true, autocomplete: "address-level2"
    .field
      = f.label :番地
      %span 必須
      %br/
      = f.text_field :house_number
      
    .field
      = f.label :建物名
      %span 任意
      %br/
      = f.text_field :building_name
    .field
      = f.label :電話番号
      %span 任意
      %br/
      = f.integer :phone_number
    %div
    .actions
      = f.submit "次へ", class:"submitbtn"