.registration
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field-remember
        = f.label :remember_me, class:"rememberme"
        = f.check_box :remember_me
    .actions
      = f.submit "Log in", class:"submitbtn"
  = render "devise/shared/links"
