.payment
  .payment__left
    .payment__left--confirmation
      %h2 購入を確定しますか？   
    .payment__left--method
      %h3 支払い方法
    - if @default_card_information.blank?
      %br /
    - else
      -#以下カード情報を表示
      = "**** **** **** " + @default_card_information.last4
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
    %br
    = form_tag(action: :pay, method: :post) do
      %button.paymentbtn 購入する
  .payment__right
    .product-info
      .info-name
        %h2
          商品名
        %p
          =@item.name
      .info-price
        %h2
          お支払い金額
        %p 
          = number_to_currency(@item.price, unit:"￥", strip_insignificant_zeros: true)
    .info-image
      = image_tag @item.images[0].image.url, class: 'Message__image', size: "270x200"