%header.header
  .headerInner
    .headerMain
      .headerMain__icon
        =link_to "#" do
          =image_tag "logo.png",alt:"アイコン"
      .searchBox
        = form_with(url: '#', local: true, method: :get, class: "searchBox__form") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox__input"
          = button_tag type: 'submit' do
            = image_tag 'icon/icon-search 1.png', alt: '検索アイコン'
    .nav
      .navLeft
        .navLeft__item#category
          = link_to "カテゴリー", "#"
          / カテゴリー覧html
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree__item
                = link_to "アイテム1", "#"
              %li.categoryTree__item
                = link_to "アイテム2", "#"
              %li.categoryTree__item
                = link_to "アイテム3", "#"
              %li.categoryTree__item
                = link_to "アイテム4", "#"
              %li.categoryTree__item
                = link_to "アイテム5", "#"
              %li.categoryTree__item
                = link_to "アイテム6", "#"
        .navLeft__item#brand
          = link_to "ブランド", "#"
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree__item
                = link_to "アイテム1", "#"
              %li.categoryTree__item
                = link_to "アイテム2", "#"
              %li.categoryTree__item
                = link_to "アイテム3", "#"
              %li.categoryTree__item
                = link_to "アイテム4", "#"
              %li.categoryTree__item
                = link_to "アイテム5", "#"
              %li.categoryTree__item
                = link_to "アイテム6", "#"
      .navRight
        .navRight__item
          / もしログインしていない場合はログインを表示
          = link_to "ログイン", "#"
        .navRight__item
          / もしログインしていない場合は新規登録を表示
          = link_to "新規会員登録", "#" 

.main

  / アピール
  .mainAppads
    .appadsContents
      %h2.appadsContents__subtitle 
        人生を変えるフリマアプリ
      %p.appadsContents__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .appadsContents__btn
        = link_to "#", class: "appadsContents__btn--apple" do
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",alt:"appleicon"
        = link_to "#", class: "appadsContents__btn--google" do
          = image_tag "google-play-badge.png" ,alt:"gogleicon"

  / 理由
  .main__reasons
    %h2.subtitle 
      FURIMAが選ばれる3つの理由
      .subtitle__border
    %ul.reasonbox
      %li.reasonbox__list
        .reasonbox__list--image
        %h3.reasonbox__list--text
          %span 3分
          ですぐに出品
        .reasonbox__list--description
      %li.reasonbox__list
        .reasonbox__list--image
        %h3.reasonbox__list--text
        .reasonbox__list--description
      %li.reasonbox__list
        .reasonbox__list--image
        %h3.reasonbox__list--text
        .reasonbox__list--description
  / 松田さん
  .main__appeal
    .main__appeal--contents
      %h2.contents__topic
        会員数日本一位
      %p.contents__texts
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .content_btn
        =link_to "#" do
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt:"appleicon"
        =link_to "#" do
          = image_tag "google-play-badge.png", alt:"googleicon"

        
  -# .main__appads
  -#   .main__appads--contents
  -#     %h2.contents__subtitle 
  -#       人生を変えるフリマアプリ
  -#     %p.contents__text 
  -#       FURIMAはだれでもかんたんに出品・購入できる
  -#       %br
  -#       フリマアプリです
  -#     .contents__btn
  -#       = link_to "#" do
  -#         = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",alt:"appleicon"
  -#       = link_to "#" do
  -#         = image_tag "google-play-badge.png" ,alt:"googleicon"

  .mainFeatures
    %h2.subtitle
      FURIMAの特徴
      .subtitle__border
    %ul.featuresLists
      %li.featuresList
        .featuresList__image
          %span.number 1
          = image_tag "pict/pict-reason-01.jpg"
        .featuresList__text
          %span 3分
          ですぐに出品  
        .featuresList__description
          スマホで入力するだけで簡単に出品できる！
      %li.featuresList
        .featuresList__image
          %span.number 2
          = image_tag "pict/pict-reason-02.jpg"
        .featuresList__text
          %span シンプル
          で使いやすい
        .featuresList__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.featuresList.featuresList--last
        .featuresList__image
          %span.number 3
          = image_tag "pict/pict-reason-03.jpg"
        .featuresList__text
          %span 手数料
          業界最安
        .featuresList__description
          最大3%でお得に出品&購入！  
  .main__products

/ 佐藤さん
%footer.footer
  %ul.footer__contents
    %li.footer__list
      %h2.list__title
        FURIMAについて
      %ul
        %li
          =link_to "会社概要（運営会社）", "#" 
        %li
          =link_to "プライバシーポリシー", "#"
        %li
          =link_to "FURIMA利用規約","#"
        %li
          =link_to "ポイントに関する特約","#"
    %li.footer__list
      %h2.list__title
        FURIMAを見る
      %ul
        %li
          =link_to "カテゴリー一覧", "#"
        %li
          =link_to "ブランド一覧", "#"
    %li.footer__list
      %h2.list__title
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "FURIMAガイド", "#"
        %li
          =link_to "FURIMAロゴ利用ガイドライン", "#" 
        %li
          =link_to "お知らせ", "#" 
  .footer__logo
    =link_to "#" do
      = image_tag "logo/logo-white.png",alt:"logo"
  %p
    ©　FURIMA

    




    
