.main
  / アプリ紹介
  .mainApps
    .appsContents
      %h2.appsContents__subtitle
        人生を変えるフリマアプリ
      %p.appsContents__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .appsContents__btn
        = link_to "#", class: "appsContents__btn--apple" do
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",alt: "appleicon"
        = link_to "#", class: "appsContents__btn--google" do
          = image_tag "google-play-badge.png" ,alt: "gogleicon"

  / 理由
  .mainReasons
    %h2.subtitle
      FURIMAが選ばれる3つの理由
      .subtitle__border
    %ul.reasonsLists
      %li.reasonsList
        .reasonsList__image
          %span.number 1
          = image_tag "pict/pict-reason-01.jpg"
        .reasonsList__text
          %span 3分
          ですぐに出品
        .reasonsList__description
          スマホで入力するだけで簡単に出品できる！
      %li.reasonsList
        .reasonsList__image
          %span.number 2
          = image_tag "pict/pict-reason-02.jpg"
        .reasonsList__text
          %span シンプル
          で使いやすい
        .reasonsList__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reasonsList.reasonsList--last
        .reasonsList__image
          %span.number 3
          = image_tag "pict/pict-reason-03.jpg"
        .reasonsList__text
          %span 手数料
          業界最安
        .reasonsList__description
          最大3%でお得に出品&購入！


  / アピール

  .mainAppeal
    .appadsContents
      %h2.appadsContents__topic.appadsContents--shadow
        会員数日本一位
      %p.appadsContents__text.appadsContents--shadow
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .appadsContents__btn
        = link_to "#", class: "appadsContents__btn--apple" do
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",alt:"appleicon"
        = link_to "#", class: "appadsContents__btn--google" do
          = image_tag "google-play-badge.png" ,alt:"gogleicon"

  / 特徴
  .mainFeatures
    %h2.subtitle
      FURIMAの特徴
      .subtitle__border
    %ul.featuresLists
      %li.featuresList
        .featuresList__image
          = image_tag "icon/icon-01.png"
        .featuresList__text
          簡単に売り買いできる
        .featuresList__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.featuresList
        .featuresList__image
          = image_tag "icon/icon-03.png"
        .featuresList__text
          売上金は即日振込みに対応
        .featuresList__description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.featuresList.featuresList--last
        .featuresList__image
          = image_tag "icon/icon-04.png"
        .featuresList__text
          様々な支払いに対応
        .featuresList__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。



  / ピックアップカテゴリー 新規投稿
  .mainProducts
    %h2.mainProducts__head
      ピックアップカテゴリー
    .productsBox
      .boxhead
        =link_to search_items_path, keyword: nil  do
          %h3.head__title
            新規投稿商品
      .boxlists
        - @items_new.first(4).each do |item|
          .boxlist
            =link_to item_path(item.id) do
              %figure.listimage
                = image_tag item.images.first.image.url, size: "220x150"
                - if item.purchaser_id.present?
                  .items-box-sold
                    .items-box-sold__inner SOLD
              .listbody
                %h3.name
                  = item.name
                .datails
                  %ul
                    %li
                      = item.price
                    %li
                      %i.fas.fa-star
                        =item.likes.count
                  %p
                    (税込)
  .mainProducts
    %h2.mainProducts__head
      商品一覧
    .productsBox
      .boxlists
        - @items_random.each do |item|
          .boxlist
            =link_to item_path(item.id) do
              %figure.listimage
                = image_tag item.images.first.image.url
                - if item.purchaser_id.present?
                  .items-box-sold
                    .items-box-sold__inner SOLD
              .listbody
                %h3.name
                  = item.name
                .datails
                  %ul
                    %li
                      = item.price
                    %li
                      %i.fas.fa-star
                        0
                  %p
                    (税込)
        .itemsmore
          = link_to search_items_path do
            もっと見る
            %i.fa.fa-angle-right