.NewMain
  .Form
    =form_with model: @item, class:"formcontents", local: true do |f|
      .Form__group
        .Form__label
          = f.label :image, "出品画像"
          %span 必須
        .Form__field
          %p.img__upload__comment 最大10枚までアップロードできます
          %p ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
          .imageContainer

          = f.fields_for :images, @image do |image|
            = image.file_field :image, id: "sell-img" , name: "item[images_attributes][0][image]"
            = image.file_field :image, id: "sell-img" , name: "item[images_attributes][1][image]"
      .Form__group
        .Form__label
          = f.label :name, "商品名"
          %span 必須
        .Form__field
          = f.text_field :name, placeholder: "全角20文字まで", class: "Form__input", maxlength: "40"
      .Form__group
        .Form__label
          = f.label :explanation, "商品説明"
          %span 必須
        .Form__field
          = f.text_area :explanation, class: "Form__input", placeholder: "例）2019年ごろに1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .Form__group
        .Form__label
          = f.label :category, "カテゴリー"
          %span.listing-default--require 必須
        .Form__field.categoryList
          = f.collection_select :category_id, @category_parent_array, :id, :name, { include_blank: '選択してください' }, { class: "Form__input", id: 'parent_category'}
      .Form__group
        .Form__label
          = f.label :quality, "商品の状態"
          %span 必須
        .Form__field
          = f.select :quality,['新品、未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり','傷や汚れあり', '全体的に状態が悪い'],  { include_blank: '選択してください' }, { class: "Form__input", id: "quality_id" }
      .Form__group
        .Form__label
          = f.label :delivery_cost,
          "配送料の負担"
          %span 必須
        .Form__field
          = f.select :delivery_cost, [['送料込み（出品者負担）', 1], ['着払い（購入者負担）', 2]], { include_blank: '選択してください' }, { id: "delivery_cost_id", class: "Form__input" }
      .Form__group
        .Form__label
          = f.label "発送元の地域"
          %span 必須
        .Form__field
          = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択してください'},{class: "Form__input"})
      .Form__group
        .Form__label
          = f.label :period, "発送までの日数"
          %span 必須
        .Form__field
          = f.select :period, [['1〜2日で発送', 1], ['2〜3日で発送', 2], ['4〜7日で発送', 3]], { include_blank: '選択してください' }, { id: "period_id", class: "Form__input" }
      .Form__group
        .Form__label
          = f.label :price, "販売価格"
          %span 必須
        .Form__field
          = f.number_field :price, class: "Form__input", placeholder:"例)￥1500"
      .Form__group--last
        .Form__btn
          = f.submit "出品する", class:"Form__exhibitBtn"
