.mainProducts
  %h2.mainProducts__head
    -if @keyword.blank?
      商品一覧
    - else
      = "#{@keyword}の検索結果"
  .productsBox
    .boxlists
      - @items.each do |item|
        .boxlist
          =link_to item_path(item) do
            %figure.listimage
              = image_tag item.images.first.image.url, size: "220x150"
              - if item.purchaser_id.present?
                .items-box-sold
                  .items-box-sold__inner SOLD
            .listbody
              %h3.name
                = item.name
              .datails
                %ul
                  %li
                    = item.price
                  %li
                    %i.fas.fa-star
                      0
                %p
                  (税込)