.main
  .showMain
    .showcontent
      .topcontent
        .itembox
          %h2.itembox__name
            = @item.name
          .itembox__top
            %ul
              %li
                = image_tag "pict/pict-reason-03.jpg"
                %ul
                  %li
                    = image_tag "pict/pict-reason-03.jpg"
                  %li
                    = image_tag "pict/pict-reason-03.jpg"
          .itembox__price
            %span
              = number_to_currency(@item.price, unit:"￥", strip_insignificant_zeros: true)
            .itembox__tax
              %h2
                (税込)
              %h2
                送料込み
          .item_Subname
            = @item.name
          .table
            .tbody
              %tr
                %th 出品者
                %td 
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td 
                  = @item.category
              %tr
                %th ブランド
                %td とても良い
              %tr
                %th 商品の状態
                %td とても良い
              %tr
                %th 商品の状態
                %td とても良い
              %tr
                %th 商品の状態
                %td とても良い
              %tr
                %th 商品の状態
                %td とても良い
              %tr
                %th 商品の状態
                %td とても良い



                    

