.main
  .showMain
    .showcontent
      .topcontent
        .itembox
          %h2.itembox__name
            = @item.name
          .itembox__top
            %ul
              %li
                %figure.listimage
                  - if @item.purchaser_id.present?
                    .items-box-sold
                      .items-box-sold__inner SOLD
                %ul.firstimage
                  %li.firstimage__big
                    = image_tag @item.images.first.image.url
                  %ul.subimage
                    - @item.images.each do |image|
                      %li.subimage__small
                        = image_tag image.image.url
          .itembox__price
            %span
              = number_to_currency(@item.price, unit:"￥", strip_insignificant_zeros: true)
            .itembox__tax
              %h2
                (税込)
              %h2
                送料込み
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    %br
                      = @item.category.root.name
                    %br
                      = @item.category.parent.name
                    %br
                      = @item.category.name
                %tr
                  %th 商品の状態
                  %td
                    = @item.quality
                %tr
                  %th 配送料の負担
                  %td
                    = @item.delivery_cost
                %tr
                  %th 発送元の地域
                  %td
                    = @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td
                    = @item.period.integer

          .morelist
            - if user_signed_in?
              - if current_user.id == @item.user_id
                .morelist__editbtn
                  =link_to edit_item_path(@item.id), method: :get do
                    編集
                .morelist__deletebtn
                  =link_to item_path(@item.id), method: :delete do
                    削除
              -elsif @item.purchaser_id.present?
                .morelist__soldbtn
                  売り切れました
              -else
                .morelist__deletebtn
                  =link_to  item_purchase_index_path(@item.id) do
                    購入
            - else
              .morelist__deletebtn
                = link_to new_user_session_path do
                  購入

          .option
            %ul
              %li
                -if user_signed_in? && current_user.already_liked?(@item)
                  = button_to item_like_path(@item), class:"likebtn", method: :delete do
                    %i.fa.fa-star
                    いいね件数:
                    =@item.likes.count
                -else
                  = button_to item_likes_path(@item), class:"likebtn" do
                    %i.fa.fa-star
                    いいね件数:
                    =@item.likes.count


            %ul.report
              %li.reportbtn
                =link_to "#" do
                  %i.fa.fa-flag
                    不適切の商品の通報
          .topbtn
            = link_to items_path do
              %h2.topbtn__text
              トップページに戻る
          .commentbox
            .commentbox__input
              -if user_signed_in?
                %ul
                  =form_with model:[@item, @comment],class:"commentform", local: true, id: "new_comment" do |f|
                    %li
                      =f.text_area :text, class: "textbox"
                    %li
                      =f.submit "コメントする", class:"commentbtn"
              -else
                %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
            .commentbox__show
              .commentbox__show--box
                -if @comments
                  .commentindex
                    %h4 コメント一覧
                  -@comments.each do |comment|
                    .commentcontent
                      .commentuser
                        =link_to "/users/#{comment.user_id}" do
                          =comment.user.nickname
                      .commenttext
                        =comment.text
                      .commenttime
                        =comment.created_at.strftime("%Y年%m月%d日 %H時%M分")












